<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <canvas id="grafico"></canvas>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", ()=>{
      const lienzo = document.getElementById("grafico");


      function Alignmnet(){
        const parametros = new URLSearchParams();
        parametros.append("operacion", "listarPublisher");
        fetch("../controllers/Ejercicio.controller.php", {
          method: 'POST',
          body: parametros
        })
          .then(response => response.json())
          .then(datos=>{
            console.log(datos);
          })
      }
      Alignmnet();
    })
  </script>
</body>
</html>





